a{
	color:#eb136d;
	text-decoration: none;
}

nav a, footer div a{
	margin:0px 5px;
}

footer{
	margin-top:40px;
	text-align: center;
}

body{
	font-family: Arial;
	margin: auto;
	padding:18px;
	max-width: 600px;
	font-size:18px;
	text-align: left;
	background-color:white;
	position: relative;
}

#dark-button{
	top:20px;
	right:20px;
	position: absolute;
}

.dark{
	color:#f5d142;
	background-color: black;
}

img, video{
	max-width: 600px;
	border: 2px solid #eba613;
}
